In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import joblib

In [2]:
df=pd.read_csv('district_maharastra.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   district            36 non-null     object
 1   ph                  36 non-null     float64
 2   Nitrate_mg_L        36 non-null     int64
 3   Fluoride_mg_L       36 non-null     float64
 4   TDS_mg_L            36 non-null     int64
 5   Hardness_mg_L       36 non-null     int64
 6   Conductivity_us_cm  36 non-null     int64
 7   Sulfate_mg_L        36 non-null     int64
 8   potability          36 non-null     int64
dtypes: float64(2), int64(6), object(1)
memory usage: 2.7+ KB

In [10]:
target_values = {
    'district': 'Pune'
}
for col, val in target_values.items():
    df[col] = (df[col] == val).astype(int)

In [13]:
df.drop(['district_Akola',	'district_Amravati','district_Sangli'	,'district_Satara',	'district_Solapur',	'district_Thane',	'district_Wardha',	'district_Washim',	'district_Yavatmal'],axis=1,inplace=True)

In [14]:
df.head()

,ph,Nitrate_mg_L,Fluoride_mg_L,TDS_mg_L,Hardness_mg_L,Conductivity_us_cm,Sulfate_mg_L,potability,district_Aurangabad,district_Beed,...,district_Nandurbar,district_Nashik,district_Osmanabad (Dharashiv),district_Palghar,district_Parbhani,district_Pune,district_Raigad,district_Ratnagiri,district_Sindhudurg,district
0,7.0,60,1.1,1400,380,900,200,0,False,False,...,False,False,False,False,False,False,False,False,False,0
1,7.1,55,1.0,1300,360,850,180,0,False,False,...,False,False,False,False,False,False,False,False,False,0
2,7.0,105,1.2,1500,400,1000,220,0,False,False,...,False,False,False,False,False,False,False,False,False,0
3,6.8,60,1.6,1550,410,1050,210,0,True,False,...,False,False,False,False,False,False,False,False,False,0
4,6.9,70,1.3,1450,390,980,205,0,False,True,...,False,False,False,False,False,False,False,False,False,0

In [16]:
df.columns

Index(['ph', 'Nitrate_mg_L', 'Fluoride_mg_L', 'TDS_mg_L', 'Hardness_mg_L',
       'Conductivity_us_cm', 'Sulfate_mg_L', 'potability',
       'district_Aurangabad', 'district_Beed', 'district_Bhandara',
       'district_Buldhana', 'district_Chandrapur', 'district_Dhule',
       'district_Gadchiroli', 'district_Gondia', 'district_Hingoli',
       'district_Jalgaon', 'district_Jalna', 'district_Kolhapur',
       'district_Latur', 'district_Mumbai City', 'district_Mumbai Suburban',
       'district_Nagpur', 'district_Nanded', 'district_Nandurbar',
       'district_Nashik', 'district_Osmanabad (Dharashiv)', 'district_Palghar',
       'district_Parbhani', 'district_Pune', 'district_Raigad',
       'district_Ratnagiri', 'district_Sindhudurg', 'district'],
      dtype='object')

In [17]:
df.drop(['district_Aurangabad', 'district_Beed', 'district_Bhandara',
       'district_Buldhana', 'district_Chandrapur', 'district_Dhule',
       'district_Gadchiroli', 'district_Gondia', 'district_Hingoli',
       'district_Jalgaon', 'district_Jalna', 'district_Kolhapur',
       'district_Latur', 'district_Mumbai City', 'district_Mumbai Suburban',
       'district_Nagpur', 'district_Nanded', 'district_Nandurbar',
       'district_Nashik', 'district_Osmanabad (Dharashiv)', 'district_Palghar',
       'district_Parbhani', 'district_Pune', 'district_Raigad',
       'district_Ratnagiri', 'district_Sindhudurg'],axis=1,inplace=True)

In [18]:
df.head()

,ph,Nitrate_mg_L,Fluoride_mg_L,TDS_mg_L,Hardness_mg_L,Conductivity_us_cm,Sulfate_mg_L,potability,district
0,7.0,60,1.1,1400,380,900,200,0,0
1,7.1,55,1.0,1300,360,850,180,0,0
2,7.0,105,1.2,1500,400,1000,220,0,0
3,6.8,60,1.6,1550,410,1050,210,0,0
4,6.9,70,1.3,1450,390,980,205,0,0

In [19]:
target_district = "Pune"
df["is_target_district"] = (df["district"] == target_district).astype(int)

In [20]:
features = df[["ph", "Nitrate_mg_L", "Fluoride_mg_L", "TDS_mg_L", "Hardness_mg_L",
               "Conductivity_us_cm", "Sulfate_mg_L", "is_target_district"]]

In [22]:
df.drop(['district'], axis=1, inplace=True)